mpn-Client/xml-resources/web-service-references/MPNInhouse/wsdl/10.0.16.126/MPNInhouseService/MPNInhouse.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.mpn.customs.go.id/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.mpn.customs.go.id/" name="MPNInhouseService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.mpn.customs.go.id/" schemaLocation="http://10.0.16.126:80/MPNInhouseService/MPNInhouse?xsd=1"/>
</xsd:schema>
</types>
<message name="getStatus">
<part name="parameters" element="tns:getStatus"/>
</message>
<message name="getStatusResponse">
<part name="parameters" element="tns:getStatusResponse"/>
</message>
<message name="insertTdDokCicilMaster">
<part name="parameters" element="tns:insertTdDokCicilMaster"/>
</message>
<message name="insertTdDokCicilMasterResponse">
<part name="parameters" element="tns:insertTdDokCicilMasterResponse"/>
</message>
<message name="insertTdDokCicilDetail">
<part name="parameters" element="tns:insertTdDokCicilDetail"/>
</message>
<message name="insertTdDokCicilDetailResponse">
<part name="parameters" element="tns:insertTdDokCicilDetailResponse"/>
</message>
<message name="getKdDok">
<part name="parameters" element="tns:getKdDok"/>
</message>
<message name="getKdDokResponse">
<part name="parameters" element="tns:getKdDokResponse"/>
</message>
<message name="getNmKantor">
<part name="parameters" element="tns:getNmKantor"/>
</message>
<message name="getNmKantorResponse">
<part name="parameters" element="tns:getNmKantorResponse"/>
</message>
<message name="getJnsDok">
<part name="parameters" element="tns:getJnsDok"/>
</message>
<message name="getJnsDokResponse">
<part name="parameters" element="tns:getJnsDokResponse"/>
</message>
<message name="getUrAkun">
<part name="parameters" element="tns:getUrAkun"/>
</message>
<message name="getUrAkunResponse">
<part name="parameters" element="tns:getUrAkunResponse"/>
</message>
<message name="listKantor">
<part name="parameters" element="tns:listKantor"/>
</message>
<message name="listKantorResponse">
<part name="parameters" element="tns:listKantorResponse"/>
</message>
<message name="savePIB">
<part name="parameters" element="tns:savePIB"/>
</message>
<message name="savePIBResponse">
<part name="parameters" element="tns:savePIBResponse"/>
</message>
<message name="getDataPIBsByIdImportir">
<part name="parameters" element="tns:getDataPIBsByIdImportir"/>
</message>
<message name="getDataPIBsByIdImportirResponse">
<part name="parameters" element="tns:getDataPIBsByIdImportirResponse"/>
</message>
<message name="getDataPIBs">
<part name="parameters" element="tns:getDataPIBs"/>
</message>
<message name="getDataPIBsResponse">
<part name="parameters" element="tns:getDataPIBsResponse"/>
</message>
<message name="getDataPIBsCount">
<part name="parameters" element="tns:getDataPIBsCount"/>
</message>
<message name="getDataPIBsCountResponse">
<part name="parameters" element="tns:getDataPIBsCountResponse"/>
</message>
<message name="getDetailBillingLnsBytglDok">
<part name="parameters" element="tns:getDetailBillingLnsBytglDok"/>
</message>
<message name="getDetailBillingLnsBytglDokResponse">
<part name="parameters" element="tns:getDetailBillingLnsBytglDokResponse"/>
</message>
<message name="getDataBillingLnsBytglDokKantor">
<part name="parameters" element="tns:getDataBillingLnsBytglDokKantor"/>
</message>
<message name="getDataBillingLnsBytglDokKantorResponse">
<part name="parameters" element="tns:getDataBillingLnsBytglDokKantorResponse"/>
</message>
<message name="getDetailBillingBlmLnsBytglDok">
<part name="parameters" element="tns:getDetailBillingBlmLnsBytglDok"/>
</message>
<message name="getDetailBillingBlmLnsBytglDokResponse">
<part name="parameters" element="tns:getDetailBillingBlmLnsBytglDokResponse"/>
</message>
<message name="getDataBillingBlmLnsBytglDokKantor">
<part name="parameters" element="tns:getDataBillingBlmLnsBytglDokKantor"/>
</message>
<message name="getDataBillingBlmLnsBytglDokKantorResponse">
<part name="parameters" element="tns:getDataBillingBlmLnsBytglDokKantorResponse"/>
</message>
<message name="getDataDokMasterBytglDokKantor">
<part name="parameters" element="tns:getDataDokMasterBytglDokKantor"/>
</message>
<message name="getDataDokMasterBytglDokKantorResponse">
<part name="parameters" element="tns:getDataDokMasterBytglDokKantorResponse"/>
</message>
<message name="getDataDokDetail">
<part name="parameters" element="tns:getDataDokDetail"/>
</message>
<message name="getDataDokDetailResponse">
<part name="parameters" element="tns:getDataDokDetailResponse"/>
</message>
<message name="getDataBillingFtpStatusBykdbilling">
<part name="parameters" element="tns:getDataBillingFtpStatusBykdbilling"/>
</message>
<message name="getDataBillingFtpStatusBykdbillingResponse">
<part name="parameters" element="tns:getDataBillingFtpStatusBykdbillingResponse"/>
</message>
<message name="pembatalan">
<part name="parameters" element="tns:pembatalan"/>
</message>
<message name="pembatalanResponse">
<part name="parameters" element="tns:pembatalanResponse"/>
</message>
<message name="getTpParData">
<part name="parameters" element="tns:getTpParData"/>
</message>
<message name="getTpParDataResponse">
<part name="parameters" element="tns:getTpParDataResponse"/>
</message>
<message name="getDataBillingLnsBytglDokKantorNo">
<part name="parameters" element="tns:getDataBillingLnsBytglDokKantorNo"/>
</message>
<message name="getDataBillingLnsBytglDokKantorNoResponse">
<part name="parameters" element="tns:getDataBillingLnsBytglDokKantorNoResponse"/>
</message>
<message name="getDataBillingBlmLnsBytglDokKantorNo">
<part name="parameters" element="tns:getDataBillingBlmLnsBytglDokKantorNo"/>
</message>
<message name="getDataBillingBlmLnsBytglDokKantorNoResponse">
<part name="parameters" element="tns:getDataBillingBlmLnsBytglDokKantorNoResponse"/>
</message>
<message name="getDataDokMasterBytglDokKantorNo">
<part name="parameters" element="tns:getDataDokMasterBytglDokKantorNo"/>
</message>
<message name="getDataDokMasterBytglDokKantorNoResponse">
<part name="parameters" element="tns:getDataDokMasterBytglDokKantorNoResponse"/>
</message>
<message name="getDataDual">
<part name="parameters" element="tns:getDataDual"/>
</message>
<message name="getDataDualResponse">
<part name="parameters" element="tns:getDataDualResponse"/>
</message>
<message name="getDataBillingAllBytglDokKantor">
<part name="parameters" element="tns:getDataBillingAllBytglDokKantor"/>
</message>
<message name="getDataBillingAllBytglDokKantorResponse">
<part name="parameters" element="tns:getDataBillingAllBytglDokKantorResponse"/>
</message>
<message name="getDataBillingAllBytglDokKantorNo">
<part name="parameters" element="tns:getDataBillingAllBytglDokKantorNo"/>
</message>
<message name="getDataBillingAllBytglDokKantorNoResponse">
<part name="parameters" element="tns:getDataBillingAllBytglDokKantorNoResponse"/>
</message>
<message name="getStatusByTgl">
<part name="parameters" element="tns:getStatusByTgl"/>
</message>
<message name="getStatusByTglResponse">
<part name="parameters" element="tns:getStatusByTglResponse"/>
</message>
<message name="getDataKirimMpn">
<part name="parameters" element="tns:getDataKirimMpn"/>
</message>
<message name="getDataKirimMpnResponse">
<part name="parameters" element="tns:getDataKirimMpnResponse"/>
</message>
<message name="getDataKirimMpnByTgl">
<part name="parameters" element="tns:getDataKirimMpnByTgl"/>
</message>
<message name="getDataKirimMpnByTglResponse">
<part name="parameters" element="tns:getDataKirimMpnByTglResponse"/>
</message>
<message name="kirimUlangMpn">
<part name="parameters" element="tns:kirimUlangMpn"/>
</message>
<message name="kirimUlangMpnResponse">
<part name="parameters" element="tns:kirimUlangMpnResponse"/>
</message>
<message name="getDataKirimKeSkpByTgl">
<part name="parameters" element="tns:getDataKirimKeSkpByTgl"/>
</message>
<message name="getDataKirimKeSkpByTglResponse">
<part name="parameters" element="tns:getDataKirimKeSkpByTglResponse"/>
</message>
<message name="getDataKirimKeSkp">
<part name="parameters" element="tns:getDataKirimKeSkp"/>
</message>
<message name="getDataKirimKeSkpResponse">
<part name="parameters" element="tns:getDataKirimKeSkpResponse"/>
</message>
<message name="kirimUlangSkp">
<part name="parameters" element="tns:kirimUlangSkp"/>
</message>
<message name="kirimUlangSkpResponse">
<part name="parameters" element="tns:kirimUlangSkpResponse"/>
</message>
<message name="getDataBillingAllBytglDokKantorJns">
<part name="parameters" element="tns:getDataBillingAllBytglDokKantorJns"/>
</message>
<message name="getDataBillingAllBytglDokKantorJnsResponse">
<part name="parameters" element="tns:getDataBillingAllBytglDokKantorJnsResponse"/>
</message>
<message name="getDataBillingLnsBytglDokKantorJns">
<part name="parameters" element="tns:getDataBillingLnsBytglDokKantorJns"/>
</message>
<message name="getDataBillingLnsBytglDokKantorJnsResponse">
<part name="parameters" element="tns:getDataBillingLnsBytglDokKantorJnsResponse"/>
</message>
<message name="getDataBillingBlmLnsBytglDokKantorJns">
<part name="parameters" element="tns:getDataBillingBlmLnsBytglDokKantorJns"/>
</message>
<message name="getDataBillingBlmLnsBytglDokKantorJnsResponse">
<part name="parameters" element="tns:getDataBillingBlmLnsBytglDokKantorJnsResponse"/>
</message>
<message name="getTrBillDok">
<part name="parameters" element="tns:getTrBillDok"/>
</message>
<message name="getTrBillDokResponse">
<part name="parameters" element="tns:getTrBillDokResponse"/>
</message>
<message name="getDataBillingBatalBytglDok">
<part name="parameters" element="tns:getDataBillingBatalBytglDok"/>
</message>
<message name="getDataBillingBatalBytglDokResponse">
<part name="parameters" element="tns:getDataBillingBatalBytglDokResponse"/>
</message>
<message name="getDataBillingBatalBytglDokNo">
<part name="parameters" element="tns:getDataBillingBatalBytglDokNo"/>
</message>
<message name="getDataBillingBatalBytglDokNoResponse">
<part name="parameters" element="tns:getDataBillingBatalBytglDokNoResponse"/>
</message>
<message name="getDataBillingBatalBytglDokBill">
<part name="parameters" element="tns:getDataBillingBatalBytglDokBill"/>
</message>
<message name="getDataBillingBatalBytglDokBillResponse">
<part name="parameters" element="tns:getDataBillingBatalBytglDokBillResponse"/>
</message>
<message name="getDataDokMasterBytglDokKantorJns">
<part name="parameters" element="tns:getDataDokMasterBytglDokKantorJns"/>
</message>
<message name="getDataDokMasterBytglDokKantorJnsResponse">
<part name="parameters" element="tns:getDataDokMasterBytglDokKantorJnsResponse"/>
</message>
<message name="getUrStatus">
<part name="parameters" element="tns:getUrStatus"/>
</message>
<message name="getUrStatusResponse">
<part name="parameters" element="tns:getUrStatusResponse"/>
</message>
<message name="getTrBillingAkun">
<part name="parameters" element="tns:getTrBillingAkun"/>
</message>
<message name="getTrBillingAkunResponse">
<part name="parameters" element="tns:getTrBillingAkunResponse"/>
</message>
<message name="getBilling">
<part name="parameters" element="tns:getBilling"/>
</message>
<message name="getBillingResponse">
<part name="parameters" element="tns:getBillingResponse"/>
</message>
<portType name="MPNInhouse">
<operation name="getStatus">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getStatusRequest" message="tns:getStatus"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getStatusResponse" message="tns:getStatusResponse"/>
</operation>
<operation name="insertTdDokCicilMaster">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/insertTdDokCicilMasterRequest" message="tns:insertTdDokCicilMaster"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/insertTdDokCicilMasterResponse" message="tns:insertTdDokCicilMasterResponse"/>
</operation>
<operation name="insertTdDokCicilDetail">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/insertTdDokCicilDetailRequest" message="tns:insertTdDokCicilDetail"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/insertTdDokCicilDetailResponse" message="tns:insertTdDokCicilDetailResponse"/>
</operation>
<operation name="getKdDok">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getKdDokRequest" message="tns:getKdDok"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getKdDokResponse" message="tns:getKdDokResponse"/>
</operation>
<operation name="getNmKantor">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getNmKantorRequest" message="tns:getNmKantor"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getNmKantorResponse" message="tns:getNmKantorResponse"/>
</operation>
<operation name="getJnsDok">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getJnsDokRequest" message="tns:getJnsDok"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getJnsDokResponse" message="tns:getJnsDokResponse"/>
</operation>
<operation name="getUrAkun">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getUrAkunRequest" message="tns:getUrAkun"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getUrAkunResponse" message="tns:getUrAkunResponse"/>
</operation>
<operation name="listKantor">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/listKantorRequest" message="tns:listKantor"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/listKantorResponse" message="tns:listKantorResponse"/>
</operation>
<operation name="savePIB">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/savePIBRequest" message="tns:savePIB"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/savePIBResponse" message="tns:savePIBResponse"/>
</operation>
<operation name="getDataPIBsByIdImportir">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataPIBsByIdImportirRequest" message="tns:getDataPIBsByIdImportir"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataPIBsByIdImportirResponse" message="tns:getDataPIBsByIdImportirResponse"/>
</operation>
<operation name="getDataPIBs">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataPIBsRequest" message="tns:getDataPIBs"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataPIBsResponse" message="tns:getDataPIBsResponse"/>
</operation>
<operation name="getDataPIBsCount">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataPIBsCountRequest" message="tns:getDataPIBsCount"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataPIBsCountResponse" message="tns:getDataPIBsCountResponse"/>
</operation>
<operation name="getDetailBillingLnsBytglDok">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDetailBillingLnsBytglDokRequest" message="tns:getDetailBillingLnsBytglDok"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDetailBillingLnsBytglDokResponse" message="tns:getDetailBillingLnsBytglDokResponse"/>
</operation>
<operation name="getDataBillingLnsBytglDokKantor">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingLnsBytglDokKantorRequest" message="tns:getDataBillingLnsBytglDokKantor"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingLnsBytglDokKantorResponse" message="tns:getDataBillingLnsBytglDokKantorResponse"/>
</operation>
<operation name="getDetailBillingBlmLnsBytglDok">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDetailBillingBlmLnsBytglDokRequest" message="tns:getDetailBillingBlmLnsBytglDok"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDetailBillingBlmLnsBytglDokResponse" message="tns:getDetailBillingBlmLnsBytglDokResponse"/>
</operation>
<operation name="getDataBillingBlmLnsBytglDokKantor">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingBlmLnsBytglDokKantorRequest" message="tns:getDataBillingBlmLnsBytglDokKantor"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingBlmLnsBytglDokKantorResponse" message="tns:getDataBillingBlmLnsBytglDokKantorResponse"/>
</operation>
<operation name="getDataDokMasterBytglDokKantor">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataDokMasterBytglDokKantorRequest" message="tns:getDataDokMasterBytglDokKantor"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataDokMasterBytglDokKantorResponse" message="tns:getDataDokMasterBytglDokKantorResponse"/>
</operation>
<operation name="getDataDokDetail">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataDokDetailRequest" message="tns:getDataDokDetail"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataDokDetailResponse" message="tns:getDataDokDetailResponse"/>
</operation>
<operation name="getDataBillingFtpStatusBykdbilling">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingFtpStatusBykdbillingRequest" message="tns:getDataBillingFtpStatusBykdbilling"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingFtpStatusBykdbillingResponse" message="tns:getDataBillingFtpStatusBykdbillingResponse"/>
</operation>
<operation name="pembatalan">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/pembatalanRequest" message="tns:pembatalan"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/pembatalanResponse" message="tns:pembatalanResponse"/>
</operation>
<operation name="getTpParData">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getTpParDataRequest" message="tns:getTpParData"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getTpParDataResponse" message="tns:getTpParDataResponse"/>
</operation>
<operation name="getDataBillingLnsBytglDokKantorNo">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingLnsBytglDokKantorNoRequest" message="tns:getDataBillingLnsBytglDokKantorNo"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingLnsBytglDokKantorNoResponse" message="tns:getDataBillingLnsBytglDokKantorNoResponse"/>
</operation>
<operation name="getDataBillingBlmLnsBytglDokKantorNo">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingBlmLnsBytglDokKantorNoRequest" message="tns:getDataBillingBlmLnsBytglDokKantorNo"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingBlmLnsBytglDokKantorNoResponse" message="tns:getDataBillingBlmLnsBytglDokKantorNoResponse"/>
</operation>
<operation name="getDataDokMasterBytglDokKantorNo">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataDokMasterBytglDokKantorNoRequest" message="tns:getDataDokMasterBytglDokKantorNo"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataDokMasterBytglDokKantorNoResponse" message="tns:getDataDokMasterBytglDokKantorNoResponse"/>
</operation>
<operation name="getDataDual">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataDualRequest" message="tns:getDataDual"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataDualResponse" message="tns:getDataDualResponse"/>
</operation>
<operation name="getDataBillingAllBytglDokKantor">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingAllBytglDokKantorRequest" message="tns:getDataBillingAllBytglDokKantor"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingAllBytglDokKantorResponse" message="tns:getDataBillingAllBytglDokKantorResponse"/>
</operation>
<operation name="getDataBillingAllBytglDokKantorNo">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingAllBytglDokKantorNoRequest" message="tns:getDataBillingAllBytglDokKantorNo"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingAllBytglDokKantorNoResponse" message="tns:getDataBillingAllBytglDokKantorNoResponse"/>
</operation>
<operation name="getStatusByTgl">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getStatusByTglRequest" message="tns:getStatusByTgl"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getStatusByTglResponse" message="tns:getStatusByTglResponse"/>
</operation>
<operation name="getDataKirimMpn">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataKirimMpnRequest" message="tns:getDataKirimMpn"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataKirimMpnResponse" message="tns:getDataKirimMpnResponse"/>
</operation>
<operation name="getDataKirimMpnByTgl">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataKirimMpnByTglRequest" message="tns:getDataKirimMpnByTgl"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataKirimMpnByTglResponse" message="tns:getDataKirimMpnByTglResponse"/>
</operation>
<operation name="kirimUlangMpn">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/kirimUlangMpnRequest" message="tns:kirimUlangMpn"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/kirimUlangMpnResponse" message="tns:kirimUlangMpnResponse"/>
</operation>
<operation name="getDataKirimKeSkpByTgl">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataKirimKeSkpByTglRequest" message="tns:getDataKirimKeSkpByTgl"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataKirimKeSkpByTglResponse" message="tns:getDataKirimKeSkpByTglResponse"/>
</operation>
<operation name="getDataKirimKeSkp">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataKirimKeSkpRequest" message="tns:getDataKirimKeSkp"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataKirimKeSkpResponse" message="tns:getDataKirimKeSkpResponse"/>
</operation>
<operation name="kirimUlangSkp">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/kirimUlangSkpRequest" message="tns:kirimUlangSkp"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/kirimUlangSkpResponse" message="tns:kirimUlangSkpResponse"/>
</operation>
<operation name="getDataBillingAllBytglDokKantorJns">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingAllBytglDokKantorJnsRequest" message="tns:getDataBillingAllBytglDokKantorJns"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingAllBytglDokKantorJnsResponse" message="tns:getDataBillingAllBytglDokKantorJnsResponse"/>
</operation>
<operation name="getDataBillingLnsBytglDokKantorJns">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingLnsBytglDokKantorJnsRequest" message="tns:getDataBillingLnsBytglDokKantorJns"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingLnsBytglDokKantorJnsResponse" message="tns:getDataBillingLnsBytglDokKantorJnsResponse"/>
</operation>
<operation name="getDataBillingBlmLnsBytglDokKantorJns">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingBlmLnsBytglDokKantorJnsRequest" message="tns:getDataBillingBlmLnsBytglDokKantorJns"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingBlmLnsBytglDokKantorJnsResponse" message="tns:getDataBillingBlmLnsBytglDokKantorJnsResponse"/>
</operation>
<operation name="getTrBillDok">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getTrBillDokRequest" message="tns:getTrBillDok"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getTrBillDokResponse" message="tns:getTrBillDokResponse"/>
</operation>
<operation name="getDataBillingBatalBytglDok">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingBatalBytglDokRequest" message="tns:getDataBillingBatalBytglDok"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingBatalBytglDokResponse" message="tns:getDataBillingBatalBytglDokResponse"/>
</operation>
<operation name="getDataBillingBatalBytglDokNo">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingBatalBytglDokNoRequest" message="tns:getDataBillingBatalBytglDokNo"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingBatalBytglDokNoResponse" message="tns:getDataBillingBatalBytglDokNoResponse"/>
</operation>
<operation name="getDataBillingBatalBytglDokBill">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingBatalBytglDokBillRequest" message="tns:getDataBillingBatalBytglDokBill"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataBillingBatalBytglDokBillResponse" message="tns:getDataBillingBatalBytglDokBillResponse"/>
</operation>
<operation name="getDataDokMasterBytglDokKantorJns">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataDokMasterBytglDokKantorJnsRequest" message="tns:getDataDokMasterBytglDokKantorJns"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getDataDokMasterBytglDokKantorJnsResponse" message="tns:getDataDokMasterBytglDokKantorJnsResponse"/>
</operation>
<operation name="getUrStatus">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getUrStatusRequest" message="tns:getUrStatus"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getUrStatusResponse" message="tns:getUrStatusResponse"/>
</operation>
<operation name="getTrBillingAkun">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getTrBillingAkunRequest" message="tns:getTrBillingAkun"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getTrBillingAkunResponse" message="tns:getTrBillingAkunResponse"/>
</operation>
<operation name="getBilling">
<input wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getBillingRequest" message="tns:getBilling"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNInhouse/getBillingResponse" message="tns:getBillingResponse"/>
</operation>
</portType>
<binding name="MPNInhousePortBinding" type="tns:MPNInhouse">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertTdDokCicilMaster">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertTdDokCicilDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getKdDok">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNmKantor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getJnsDok">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUrAkun">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listKantor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="savePIB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataPIBsByIdImportir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataPIBs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataPIBsCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDetailBillingLnsBytglDok">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataBillingLnsBytglDokKantor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDetailBillingBlmLnsBytglDok">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataBillingBlmLnsBytglDokKantor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataDokMasterBytglDokKantor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataDokDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataBillingFtpStatusBykdbilling">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pembatalan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTpParData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataBillingLnsBytglDokKantorNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataBillingBlmLnsBytglDokKantorNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataDokMasterBytglDokKantorNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataDual">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataBillingAllBytglDokKantor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataBillingAllBytglDokKantorNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStatusByTgl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataKirimMpn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataKirimMpnByTgl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="kirimUlangMpn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataKirimKeSkpByTgl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataKirimKeSkp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="kirimUlangSkp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataBillingAllBytglDokKantorJns">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataBillingLnsBytglDokKantorJns">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataBillingBlmLnsBytglDokKantorJns">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTrBillDok">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataBillingBatalBytglDok">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataBillingBatalBytglDokNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataBillingBatalBytglDokBill">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDataDokMasterBytglDokKantorJns">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUrStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTrBillingAkun">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBilling">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MPNInhouseService">
<port name="MPNInhousePort" binding="tns:MPNInhousePortBinding">
<soap:address location="http://10.0.16.126:80/MPNInhouseService/MPNInhouse"/>
</port>
</service>
</definitions>