mpn-Client/src/META-INF/wsdl/10.0.16.126_80/MPNBackgroundProsesService/MPNBackgroundProses.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://service.mpn.customs.go.id/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.mpn.customs.go.id/">

<xs:element name="getBillAndNoDok" type="tns:getBillAndNoDok"/>

<xs:element name="getBillAndNoDokResponse" type="tns:getBillAndNoDokResponse"/>

<xs:element name="insertTdBillingDet" type="tns:insertTdBillingDet"/>

<xs:element name="insertTdBillingDetResponse" type="tns:insertTdBillingDetResponse"/>

<xs:element name="insertTdBillingMaster" type="tns:insertTdBillingMaster"/>

<xs:element name="insertTdBillingMasterResponse" type="tns:insertTdBillingMasterResponse"/>

<xs:element name="insertTdBillingStatus" type="tns:insertTdBillingStatus"/>

<xs:element name="insertTdBillingStatusResponse" type="tns:insertTdBillingStatusResponse"/>

<xs:element name="insertTdDokCicilDetail" type="tns:insertTdDokCicilDetail"/>

<xs:element name="insertTdDokCicilDetailResponse" type="tns:insertTdDokCicilDetailResponse"/>

<xs:element name="insertTdDokCicilMaster" type="tns:insertTdDokCicilMaster"/>

<xs:element name="insertTdDokCicilMasterResponse" type="tns:insertTdDokCicilMasterResponse"/>

<xs:element name="insertTdDokDetail" type="tns:insertTdDokDetail"/>

<xs:element name="insertTdDokDetailResponse" type="tns:insertTdDokDetailResponse"/>

<xs:element name="insertTdDokMaster" type="tns:insertTdDokMaster"/>

<xs:element name="insertTdDokMasterResponse" type="tns:insertTdDokMasterResponse"/>

<xs:element name="pembatalanDokMaster" type="tns:pembatalanDokMaster"/>

<xs:element name="pembatalanDokMasterResponse" type="tns:pembatalanDokMasterResponse"/>

<xs:element name="pencicilanDokMaster" type="tns:pencicilanDokMaster"/>

<xs:element name="pencicilanDokMasterResponse" type="tns:pencicilanDokMasterResponse"/>

<xs:element name="penundaanDokMaster" type="tns:penundaanDokMaster"/>

<xs:element name="penundaanDokMasterResponse" type="tns:penundaanDokMasterResponse"/>

<xs:element name="prosesUpdate" type="tns:prosesUpdate"/>

<xs:element name="prosesUpdateResponse" type="tns:prosesUpdateResponse"/>

<xs:element name="updateDataBilling" type="tns:updateDataBilling"/>

<xs:element name="updateDataBillingResponse" type="tns:updateDataBillingResponse"/>

<xs:element name="updateRekonBilling" type="tns:updateRekonBilling"/>

<xs:element name="updateRekonBillingResponse" type="tns:updateRekonBillingResponse"/>

<xs:element name="updateStatusBilling" type="tns:updateStatusBilling"/>

<xs:element name="updateStatusBillingResponse" type="tns:updateStatusBillingResponse"/>

<xs:complexType name="penundaanDokMaster">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="penundaanDokMasterResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateRekonBilling">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateRekonBillingResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pencicilanDokMaster">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pencicilanDokMasterResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTdDokDetail">
<xs:sequence>
<xs:element name="arg0" type="tns:tdDokDetail" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tdDokDetail">
<xs:sequence>
<xs:element name="akun" type="xs:string" minOccurs="0"/>
<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
<xs:element name="idWajibBayar" type="xs:string" minOccurs="0"/>
<xs:element name="nilaiTagihan" type="xs:decimal" minOccurs="0"/>
<xs:element name="nipRekam" type="xs:string" minOccurs="0"/>
<xs:element name="nipUpd" type="xs:string" minOccurs="0"/>
<xs:element name="parameterId" type="xs:string" minOccurs="0"/>
<xs:element name="seqDok" type="xs:string" minOccurs="0"/>
<xs:element name="wkRekam" type="xs:string" minOccurs="0"/>
<xs:element name="wkUpd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTdDokDetailResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="prosesUpdate">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="prosesUpdateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTdBillingDet">
<xs:sequence>
<xs:element name="arg0" type="tns:tdBillingDetail" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tdBillingDetail">
<xs:sequence>
<xs:element name="akun" type="xs:string" minOccurs="0"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
<xs:element name="idWajibBayar" type="xs:string" minOccurs="0"/>
<xs:element name="keyUnik" type="xs:string" minOccurs="0"/>
<xs:element name="kodeBilling" type="xs:string" minOccurs="0"/>
<xs:element name="nilaiTagihan" type="xs:decimal" minOccurs="0"/>
<xs:element name="nipRekam" type="xs:string" minOccurs="0"/>
<xs:element name="nipUpd" type="xs:string" minOccurs="0"/>
<xs:element name="parameterId" type="xs:string" minOccurs="0"/>
<xs:element name="wkRekam" type="xs:string" minOccurs="0"/>
<xs:element name="wkUpd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTdBillingDetResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDataBilling">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateDataBillingResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTdDokCicilMaster">
<xs:sequence>
<xs:element name="arg0" type="tns:tdDokCicilMaster" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tdDokCicilMaster">
<xs:sequence>
<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
<xs:element name="idWajibBayar" type="xs:string" minOccurs="0"/>
<xs:element name="kodeBilling" type="xs:string" minOccurs="0"/>
<xs:element name="nipRekam" type="xs:string" minOccurs="0"/>
<xs:element name="nipUpd" type="xs:string" minOccurs="0"/>
<xs:element name="seqDok" type="xs:string" minOccurs="0"/>
<xs:element name="seriCicil" type="xs:int"/>
<xs:element name="tglJtTempo" type="xs:string" minOccurs="0"/>
<xs:element name="wkRekam" type="xs:string" minOccurs="0"/>
<xs:element name="wkUpd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTdDokCicilMasterResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTdDokCicilDetail">
<xs:sequence>
<xs:element name="arg0" type="tns:tdDokCicilDetail" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tdDokCicilDetail">
<xs:sequence>
<xs:element name="akun" type="xs:string" minOccurs="0"/>
<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
<xs:element name="nilaiCicil" type="xs:int"/>
<xs:element name="nipRekam" type="xs:string" minOccurs="0"/>
<xs:element name="nipUpd" type="xs:string" minOccurs="0"/>
<xs:element name="seqDok" type="xs:string" minOccurs="0"/>
<xs:element name="seriCicil" type="xs:int"/>
<xs:element name="wkRekam" type="xs:string" minOccurs="0"/>
<xs:element name="wkUpd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTdDokCicilDetailResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTdBillingStatus">
<xs:sequence>
<xs:element name="arg0" type="tns:tdBillingStatus" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tdBillingStatus">
<xs:sequence>
<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
<xs:element name="idStatus" type="xs:string" minOccurs="0"/>
<xs:element name="kodeBilling" type="xs:string" minOccurs="0"/>
<xs:element name="nipRekam" type="xs:string" minOccurs="0"/>
<xs:element name="nipUpd" type="xs:string" minOccurs="0"/>
<xs:element name="wkRekam" type="xs:string" minOccurs="0"/>
<xs:element name="wkStatus" type="xs:string" minOccurs="0"/>
<xs:element name="wkUpd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTdBillingStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTdDokMaster">
<xs:sequence>
<xs:element name="arg0" type="tns:tdDokMaster" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tdDokMaster">
<xs:sequence>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
<xs:element name="flAuto" type="xs:string" minOccurs="0"/>
<xs:element name="flCicil" type="xs:string" minOccurs="0"/>
<xs:element name="flagBatal" type="xs:string" minOccurs="0"/>
<xs:element name="idWajibBayar" type="xs:string" minOccurs="0"/>
<xs:element name="kdDok" type="xs:string" minOccurs="0"/>
<xs:element name="kdIdWajibBayar" type="xs:string" minOccurs="0"/>
<xs:element name="kdKantor" type="xs:string" minOccurs="0"/>
<xs:element name="kodeBilling" type="xs:string" minOccurs="0"/>
<xs:element name="namaWajibBayar" type="xs:string" minOccurs="0"/>
<xs:element name="nipRekam" type="xs:string" minOccurs="0"/>
<xs:element name="nipUpd" type="xs:string" minOccurs="0"/>
<xs:element name="noDok" type="xs:string" minOccurs="0"/>
<xs:element name="noSkep" type="xs:string" minOccurs="0"/>
<xs:element name="seqDok" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="tglDok" type="xs:string" minOccurs="0"/>
<xs:element name="tglJtTempo" type="xs:string" minOccurs="0"/>
<xs:element name="tglJtTempoTunda" type="xs:string" minOccurs="0"/>
<xs:element name="tglSkep" type="xs:string" minOccurs="0"/>
<xs:element name="totalTagihan" type="xs:long"/>
<xs:element name="wkRekam" type="xs:string" minOccurs="0"/>
<xs:element name="wkStatus" type="xs:string" minOccurs="0"/>
<xs:element name="wkUpd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTdDokMasterResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStatusBilling">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStatusBillingResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pembatalanDokMaster">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pembatalanDokMasterResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTdBillingMaster">
<xs:sequence>
<xs:element name="arg0" type="tns:tdBillingMaster" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tdBillingMaster">
<xs:sequence>
<xs:element name="alasanBatal" type="xs:string" minOccurs="0"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
<xs:element name="flBatal" type="xs:string" minOccurs="0"/>
<xs:element name="flRekon" type="xs:string" minOccurs="0"/>
<xs:element name="idWajibBayar" type="xs:string" minOccurs="0"/>
<xs:element name="jmlRecordDetail" type="xs:int"/>
<xs:element name="kdDok" type="xs:string" minOccurs="0"/>
<xs:element name="kdIdWajibBayar" type="xs:string" minOccurs="0"/>
<xs:element name="kdKantor" type="xs:string" minOccurs="0"/>
<xs:element name="keyUnik" type="xs:string" minOccurs="0"/>
<xs:element name="kodeBank" type="xs:string" minOccurs="0"/>
<xs:element name="kodeBankCabang" type="xs:string" minOccurs="0"/>
<xs:element name="kodeBilling" type="xs:string" minOccurs="0"/>
<xs:element name="nipRekam" type="xs:string" minOccurs="0"/>
<xs:element name="nipUpd" type="xs:string" minOccurs="0"/>
<xs:element name="nmWajibBayar" type="xs:string" minOccurs="0"/>
<xs:element name="noDok" type="xs:string" minOccurs="0"/>
<xs:element name="noRekening" type="xs:string" minOccurs="0"/>
<xs:element name="noStrukBayar" type="xs:string" minOccurs="0"/>
<xs:element name="ntb" type="xs:string" minOccurs="0"/>
<xs:element name="ntpn" type="xs:string" minOccurs="0"/>
<xs:element name="seqDok" type="xs:string" minOccurs="0"/>
<xs:element name="seriBilling" type="xs:int"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="tglBilling" type="xs:string" minOccurs="0"/>
<xs:element name="tglBuku" type="xs:string" minOccurs="0"/>
<xs:element name="tglDok" type="xs:string" minOccurs="0"/>
<xs:element name="tglExpired" type="xs:string" minOccurs="0"/>
<xs:element name="tglNtb" type="xs:string" minOccurs="0"/>
<xs:element name="tglNtpn" type="xs:string" minOccurs="0"/>
<xs:element name="totTagihan" type="xs:long"/>
<xs:element name="totalDibayar" type="xs:long"/>
<xs:element name="totalTagihan" type="xs:long"/>
<xs:element name="traceId" type="xs:string" minOccurs="0"/>
<xs:element name="typeMedia" type="xs:string" minOccurs="0"/>
<xs:element name="typeSumberData" type="xs:string" minOccurs="0"/>
<xs:element name="wkRekam" type="xs:string" minOccurs="0"/>
<xs:element name="wkStatus" type="xs:string" minOccurs="0"/>
<xs:element name="wkUpd" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTdBillingMasterResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBillAndNoDok">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBillAndNoDokResponse">
<xs:sequence>
<xs:element name="return" type="tns:tdBillingMaster" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>