mpn-Client/xml-resources/web-service-references/MPNPublic/wsdl/10.0.16.126/MPNPublicService/MPNPublic.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.mpn.customs.go.id/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.mpn.customs.go.id/" name="MPNPublicService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.mpn.customs.go.id/" schemaLocation="http://10.0.16.126:80/MPNPublicService/MPNPublic?xsd=1"/>
</xsd:schema>
</types>
<message name="insertTpLOg">
<part name="parameters" element="tns:insertTpLOg"/>
</message>
<message name="insertTpLOgResponse">
<part name="parameters" element="tns:insertTpLOgResponse"/>
</message>
<message name="insertTtBillingRes">
<part name="parameters" element="tns:insertTtBillingRes"/>
</message>
<message name="insertTtBillingResResponse">
<part name="parameters" element="tns:insertTtBillingResResponse"/>
</message>
<message name="insertDokMasterSKP">
<part name="parameters" element="tns:insertDokMasterSKP"/>
</message>
<message name="insertDokMasterSKPResponse">
<part name="parameters" element="tns:insertDokMasterSKPResponse"/>
</message>
<message name="insertDokDetailSKP">
<part name="parameters" element="tns:insertDokDetailSKP"/>
</message>
<message name="insertDokDetailSKPResponse">
<part name="parameters" element="tns:insertDokDetailSKPResponse"/>
</message>
<message name="kirimBilling">
<part name="parameters" element="tns:kirimBilling"/>
</message>
<message name="kirimBillingResponse">
<part name="parameters" element="tns:kirimBillingResponse"/>
</message>
<portType name="MPNPublic">
<operation name="insertTpLOg">
<input wsam:Action="http://service.mpn.customs.go.id/MPNPublic/insertTpLOgRequest" message="tns:insertTpLOg"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNPublic/insertTpLOgResponse" message="tns:insertTpLOgResponse"/>
</operation>
<operation name="insertTtBillingRes">
<input wsam:Action="http://service.mpn.customs.go.id/MPNPublic/insertTtBillingResRequest" message="tns:insertTtBillingRes"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNPublic/insertTtBillingResResponse" message="tns:insertTtBillingResResponse"/>
</operation>
<operation name="insertDokMasterSKP">
<input wsam:Action="http://service.mpn.customs.go.id/MPNPublic/insertDokMasterSKPRequest" message="tns:insertDokMasterSKP"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNPublic/insertDokMasterSKPResponse" message="tns:insertDokMasterSKPResponse"/>
</operation>
<operation name="insertDokDetailSKP">
<input wsam:Action="http://service.mpn.customs.go.id/MPNPublic/insertDokDetailSKPRequest" message="tns:insertDokDetailSKP"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNPublic/insertDokDetailSKPResponse" message="tns:insertDokDetailSKPResponse"/>
</operation>
<operation name="kirimBilling">
<input wsam:Action="http://service.mpn.customs.go.id/MPNPublic/kirimBillingRequest" message="tns:kirimBilling"/>
<output wsam:Action="http://service.mpn.customs.go.id/MPNPublic/kirimBillingResponse" message="tns:kirimBillingResponse"/>
</operation>
</portType>
<binding name="MPNPublicPortBinding" type="tns:MPNPublic">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertTpLOg">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertTtBillingRes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertDokMasterSKP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertDokDetailSKP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="kirimBilling">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MPNPublicService">
<port name="MPNPublicPort" binding="tns:MPNPublicPortBinding">
<soap:address location="http://10.0.16.126:80/MPNPublicService/MPNPublic"/>
</port>
</service>
</definitions>